<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dagensgif" data-ng-controller="MainCtrl" data-ng-style="bodyStyle" data-ng-init="reload()">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong>   . Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
        <!-- Navigation -->
      <div class="header">
        <ul class="nav nav-pills nav-pills-color pull-right">
          <li data-ng-class="{ active: state == 'today' }"><a data-ng-click = "state = 'today'" ng-href="#">Dagens</a></li>
          <li data-ng-class="{ active: state == 'tomorrow' }"><a data-ng-click = "state = 'tomorrow'" ng-href="#" data-ng-mouseup="showGifs()" >Imorgon</a></li>
          <li><a data-ng-href="#"data-toggle="modal" data-target="#addGifModal">Lägg till Gif</a>
        </ul>
        <h3>
          <i class="fa fa-cog fa-1x pointer" data-toggle="modal" data-target="#settingsModal" data-ng-click="reset()"></i>
          <i class="fa fa-clock-o fa-1x">&nbsp;<span data-time data-format="HH:mm:ss"></i>
        </h3>
      </div>

      <div id="main">
        <h1 class="text-center" data-ng-show="state == 'today'" data-ng-bind="settings.saved.title"></h1>
        <h1 class="text-center" data-ng-show="state == 'tomorrow'">Morgondagens Gif</h1>

        <div data-ng-show = "state == 'today'" class="img-responsive dagens-gif" style="background-image: url({{ image }})"></div>

        <div data-ng-show="state == 'tomorrow'" class="row">
          <div data-ng-repeat="gif in showGifs" class="col-md-6">
              <img class="img-responsive" src="{{gif.image}}"></img>
              <br>
              <p>Tillagd av: {{gif.by}}</p>
              <p>Röster: <span class="badge">{{gif.votes}}</span></p>
              <button class="btn btn-primary" data-ng-disabled="hasVoted" data-ng-click="addVote(gif.reference)">Rösta</button>
            </div>
          </div>
        </div>

        <div class="footer">
            <div class="container-fluid">
              <div class="pull-right">
                <i class="fa fa-angle-right">
                    <strong>
                        &nbsp;Nästa GIF om <span data-countdown data-alarm="changeGif()"></span>
                    </strong>
                    </i>
              </div>
            </div>
        </div>

        <div class="modal fade" id="settingsModal" 
          tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Inställningar</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                
                <div class="form-group">
                  <label for="title" class="col-sm-3 control-label">Titel</label>
                  <div class="col-sm-9">
                    <input id="title" class="form-control" data-ng-model="settings.updates.title" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label for="bgcolor" class="col-sm-3 control-label">Bakgrund färg</label>
                  <div class="col-sm-3">
                    <input id="bgcolor" class="form-control" colorpicker data-ng-model="settings.updates.bgcolor" type="text" data-ng-disabled="settings.updates.gifColorAsBackground">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" data-ng-model="settings.updates.gifColorAsBackground"> 
                        Använd GIF:ens färg
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="color" class="col-sm-3 control-label">Text färg</label>
                  <div class="col-sm-3">
                    <input id="color" class="form-control" colorpicker data-ng-model="settings.updates.color" type="text">
                  </div>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="saveSettings()">Spara</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addGifModal" 
          tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel2">Lägg till en Gif</h4>
            </div>
            <div class="modal-body">

               <form class="form-horizontal" role="form">
                  <input type="text" class="form-control" placeholder="Url" data-ng-model="url" />
                  <input type="text" class="form-control" placeholder="Ditt namn" data-ng-model="name" />
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="addGif()">Spara</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/bootstrap-colorpicker-module.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/services/dagensgif.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/countdown.js"></script>
        <script src="scripts/directives/time.js"></script>
        <!-- endbuild -->
</body>
</html>
